<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AG</title>
	<link rel="stylesheet" href="style/css/index.css">
	<link rel="stylesheet" href="style/css/logn/logn.css">
	<script src="style/js/jquery.min.js"></script>
	<script src="style/js/angular.min.js"></script>
	<script src="style/js/angular-route.js"></script>
	<!-- <script src="style/js/index.js"></script> -->
</head>
<body ng-app="myapp">
	<div class="nav">
		<a class="mark" href="#/index"></a>
		<a class="index" href="#/index">首页</a>
		<a class="page1" href="#/page1">page1</a>
		<a class="page2" href="#/page2">page2</a>
		<a class="logn" href="javascript:;">登陆</a>
	</div>
	<div class="box" ng-controller="logn">
		<form>
			<span class="close">关闭</span>
			<div class="name">
				<span>用户名：</span>
				<input type="text" ng-model='name' placeholder="请输入用户名">
			</div>
			<div class="pass">
				<span>密&nbsp;码：</span>
				<input type="password" ng-model='password' placeholder="请输入密码">
			</div>
			<div class="sex">
				<span>性&nbsp;别：</span>
				<div class="sex-nan">
					<input type="radio" name="sex" id="sex-nan"><label for="sex-nan">男</label>
				</div>
				<div class="sex-nv">
					<input type="radio" name="sex" id="sex-nv"><label for="sex-nv">女</label>
				</div>
			</div>
			<div class="hobby">
				<span>爱&nbsp;好：</span>
				<div>
					<input type="checkbox" name="hobby" id="hobby-mu"><label for="hobby-mu">听音乐</label>
				</div>
				<div>
					<input type="checkbox" name="hobby" id="hobby-re"><label for="hobby-re">读书</label>
				</div>
				<div>
					<input type="checkbox" name="hobby" id="hobby-ru"><label for="hobby-ru">跑步</label>
				</div>
			</div>
			<div class="area">
				<span>地&nbsp;区：</span>
				<div class="area-box">
					<span class="diqu">
						<span ng-bind="diqu"></span>
						<i class="iconfont">&#xe63c;</i>
					</span>
					<ul class="diquC">
						<li ng-repeat="x in area track by $index" ng-bind="x" ng-click="diquC(x)"></li>
					</ul>
				</div>
			</div>
			<button class="btn">确定</button>
			<button class="btn-close">取消</button>
		</form>
	</div>
	<div class="cont" ng-view></div>
</body>
<script>
	var app = angular.module('myapp',['ngRoute'])
	.config(['$routeProvider',function($routeProvider) {
		$routeProvider
		.when('/mark',{templateUrl:'html/index.html'})
		.when('/index',{templateUrl:'html/index.html'})
		.when('/page1',{templateUrl:'html/page1.html'})
		.when('/page2',{templateUrl:'html/page2.html'})
		.otherwise({redirectTo:'/index'});
	}])
	// 登陆框控制器
	// app.controller('logn',function($scope){
	// 	$scope.area = ['深圳','惠州','广州','惠州','广州'];
	// 	$scope.diqu = '请选择';
	// 	$scope.diquC = function(data){
	// 		$scope.diqu = data;
	// 	}
	// })
</script>
<script src="style/js/logn.js"></script>
</html>