<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>第一个页面</title>
	<link rel="stylesheet" href="style/css/page1.css">
	<script src="style/js/angular.min.js"></script>
</head>
<body ng-app="page1" ng-controller="page1C">
	<h2>我的记事本：</h2>
	<textarea class="text" ng-model="cont"  cols="40" rows="10" maxlength="100"></textarea>
	<p>剩余<span ng-bind="left()"></span>个字</p>
	<button ng-click="clear();save()">保存</button>
	<button ng-click="clear()">清空</button>
</body>
<script src="style/js/page1.app.js"></script>
<script src="style/js/page1.c.js"></script>
</html>