body,ul{
	margin: 0;
	padding: 0;
	min-width: 1300px;
}
a{
	text-decoration: none;
}
.nav ul{
	list-style: none;
	height: 100px;
}
.nav li{
	float: left;
	width: 260px;
	height: 100px;
	text-align: center;
	font-size: 36px;
}
.nav a{
	color: #000;
	display: block;
	line-height: 100px;
	background-color: orange;
}
.nav a:hover{
	background-color: #000;
	color: #fff;
}
.cont{
	margin: 100px auto 0;
	width: 400px;
	height: 300px;
}