ul,li,a,body,p,
input{
	margin: 0;
	padding: 0;
	border: none;
}
html{
	font-size: 625%;
	font-family: "微软雅黑" Helvetica, STHeiTi, Arial, sans-serif;
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%;  
}
/*导航css-----------------------------*/
.banner-box{
	height: 6.3rem;
	font-size: 0;
	background-image: url(../images/index01.jpg);
	background-size: 1920px 630px;
	background-position: center;
	min-width: 1080px;
}
.nav{
	width: 10.80rem;
	height: 1rem;
	margin: 0 auto;
	/*font-size: 0.15rem;*/
	overflow: hidden;
}
.mark{
	display: inline-block;
	width: 1.66rem;
	height: 1rem;
	overflow: hidden;
}
.mark>a{
	display: block;
	width: 100%;
	height: 100%;
}
.mark img{
	width: 6rem;
	margin-top: 0.2rem;
	margin-left: -0.05rem;
}
.nav>ul{
	list-style: none;
	width: 3.9rem;
	margin-left: 3.22rem;
	height: 1rem;
	display: inline-block;
	font-size: 0.15rem;
}
.nav>ul>li{
	float: left;
	margin: 0 0.1rem;
	height: 1rem;
	line-height: 1rem;
}
.nav>ul>li>a{
	color: #e0e0e0;
	text-decoration: none;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
.nav>ul>li>a:hover{
	color: #1b69b6;
}
.search{
	display: inline-block;
	width: 1.26rem;
	height: 0.26rem;
	margin: 0.37rem 0 0.37rem 0.24rem;
	background-color: #4f6571;
	border-radius: 0.13rem;
	overflow: hidden;
}
.search>input{
	width: 0.8rem;
	height: 0.26rem;
	border: none;
	padding: 0 0.1rem;
	text-align: center;
	background: #4f6571;
	outline: none;
	font-size: 16px;
	vertical-align: middle;
}
.search>span{
	display: inline-block;
	width: 0.26rem;
	height: 0.26rem;
	overflow: hidden;
	vertical-align: middle;
}
/*调整nav中的字体图标*/
.search i{
	line-height: 26px;
	color: #fff;
}
.accunt{
	display: inline-block;
	height: 100px;
	width: 52px;
	vertical-align: top;
	text-align: center;
}
.accunt>i{
	font-size: 28px;
	line-height: 100px;
	color: #fff;
}
.accunt>i:hover{
	cursor: pointer;
	font-size: 38px;
}
.search i:hover{
	cursor: pointer;
	font-size: 22px;
}
.trans{
	transition: all 0.5s;
}
/*下面是轮播图-----------------------------*/
/*轮播样式*/
.cont{
	height: 5.3rem;
	width: 10.8rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.pic{
	width: 54rem;
	position: absolute;
	left: -1080px;
	top: 0rem;
}
.pic>li{
	display: inline-block;
	width: 10.8rem;
	height: 5.3rem;
	vertical-align: middle;
}
.circle{
	list-style: none;
	position: absolute;
	top: 460px;
	left: 471px;
	z-index: 2;
}
.circle li{
	display: inline-block;
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	background: #fff;
	margin: 0 20px;
}
.circle li:hover{
	cursor: pointer;
}
.active{
	background: #666 !important;
}
.prev,
.next{
	font-size: 24px;
	color: #fff;
	width: 50px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: rgba(10,18,42,0.2);
	overflow: hidden;
	display: none;
	position: relative;
	z-index: 3;
}
.prev{
	float: left;
}
.prev>img{
	width: 160px;
	height: 204px;
	margin-left: -15px;
}
.next{
	float: right;
}
.next>img{
	width: 160px;
	height: 204px;
	margin-left: -95px;
}
.turn{
	position: absolute;
	top: 265px;
	width: 100%;
	height: 100px;
}
.turn>li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
/*第一张轮播框中的内容*/
.pic-square{
	display: inline-block;
	width: 540px;
	height: 530px;
	vertical-align: top;
}
.pic-circle{
	display: inline-block;
	width: 540px;
	height: 530px;
}
.pic-square-cont{
	width: 265px;
	height: 266px;
	background: url(../images/index-turn-01.png);
	margin-top: 104px;
	margin-left: 130px;
}
.pic-square-cont .ch{
	display: inline-block;
	width: 61px;
	height: 68px;
	margin-top: 53px;
	margin-left: 28px;
}
.pic-square-cont .ch>b{
	color: #fff;
	font-size: 60px;
}
.pic-square-cont .chi{
	margin-left: 6px;
	margin-top: 53px;
	height: 26px;
	display: inline-block;
	vertical-align: top;
}
.pic-square-cont .chi .grow{
	font-size: 14px;
	color: #fff;
	line-height: 16px;
	margin-top: 10px;
}
.pic-square-cont .chi .small{
	font-size: 30px;
	color: #fff;
	line-height: 43px;
	margin-left: -4px;
}
.pic-square-cont>.en{
	font-size: 26px;
	line-height: 28px;
	margin-left: 28px;
	color: #fff;
}
.pic-square-cont>span{
	display: block;
	width: 106px;
	height: 36px;
	background-color: #1b67b6;
	text-align: center;
	margin: 30px auto 0;
	border-radius: 3px;
}
.pic-square-cont>span>a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	line-height: 36px;
	padding: 11px 25px;
}
.pic-circle{
	position: relative;
}
.pic-circle div{
	width: 370px;
	height: 238px;
	position: absolute;
	top: 115px;
	left: 114px;
	background-size: 364px 214px;
	background-position: center center;
}
.pic-circle-z-index0{
	background: url(../images/index-turn-circle01.png) no-repeat;

}
.pic-circle-z-index1{
	background: url(../images/index-turn-circle02.png) no-repeat;
}
.pic-circle-z-index2{
	background: url(../images/index-turn-circle03.png) no-repeat;
}
@keyframes turn-r {
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(-360deg);
	}
}
@keyframes turn-l {
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}
.turn-r{
	animation: turn-r 1s;
}
.turn-l{
	animation: turn-l 1s;
}
/*下面是第二张轮播框中的内容*/
.pic-turn02{
	background: url(../images/index-turn-02.png);
	background-size: 1080px 530px;
}
.chart{
	list-style: none;
	height: 400px;
	width: 600px;
	margin-left: 264px;
	margin-top: 23px;
}
.chart li{
	display: inline-block;
	width: 50px;
	margin-left: 50px;
	vertical-align: bottom;
	transition: all 0.8s;
	
}
.chart-on{
	height: 80px;
	background: linear-gradient(to top,rgba(16,91,227,1),rgba(62,134,233,1),rgba(131,180,229,1))
}
.chart-tw{
	height: 136px;
	background: linear-gradient(to top,rgba(16,91,227,1),rgba(62,134,233,1),rgba(131,180,229,1))
}
.chart-th{
	height: 100px;
	background: linear-gradient(to top,rgba(16,91,227,1),rgba(62,134,233,1),rgba(131,180,229,1))
}
.chart-fo{
	height: 120px;
	background: linear-gradient(to top,rgba(16,91,227,1),rgba(62,134,233,1),rgba(131,180,229,1))
}
.chart-fi{
	height: 152px;
	background: linear-gradient(to top,rgba(16,91,227,1),rgba(62,134,233,1),rgba(131,180,229,1))
}
.chart-si{
	height: 400px;
}
.chart:hover .chart-on{
	height: 130px;
}
.chart:hover .chart-tw{
	height: 250px;
}
.chart:hover .chart-th{
	height: 280px;
}
.chart:hover .chart-fo{
	height: 150px;
}
.chart:hover .chart-fi{
	height: 300px;
}
/*下面是第三张轮播框中的内容*/
.pic-turn03 ul{
	list-style: none;
	display: inline-block;
	width: 690px;
	height: 180px;
	margin-top: 150px;
}
.pic-turn03 li{
	display: inline-block;
	width: 180px;
	height: 180px;
	margin-right: 50px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
}
.pic-turn03 img{
	width: 180px;
	position: absolute;
}
.pic-turn03 .list1:after{
	background-image: url(../images/index-turn-03-1b.png);
	width: 180px;
	height: 0;
	content: '';
	position: absolute;
	background-position: center center;
	transition: all 0.5s;
	top: 90px;
}
.pic-turn03 .list1:hover:after{
	height: 180px;
	top: 0;
}
.pic-turn03 .list2:after{
	background-image: url(../images/index-turn-03-2b.png);
	width: 180px;
	height: 0;
	content: '';
	position: absolute;
	background-position: center center;
	transition: all 0.5s;
	top: 90px;
}
.pic-turn03 .list2:hover:after{
	height: 180px;
	top: 0;
}
.pic-turn03 .list3:after{
	background-image: url(../images/index-turn-03-3b.png);
	width: 180px;
	height: 0;
	content: '';
	position: absolute;
	background-position: center center;
	transition: all 0.5s;
	top: 90px;
}
.pic-turn03 .list3:hover:after{
	height: 180px;
	top: 0;
}
.list-r{
	display: inline-block;
	width: 200px;
	height: 280px;
	vertical-align: top;
	margin-left: 60px;
	margin-top: 120px;
}
.list-r1{
	font-size: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
.list-r2{
	font-size: 38px;
	color: #fff;
	line-height: 38px;
	text-align: center;
	margin-top: 16px;
}
.list-r3{
	width: 160px;
	height: 18px;
	margin-top: 40px;
	margin-left: 20px;
	position: relative;
}
.list-r3s1{
	display: inline-block;
	width: 80px;
	height: 6px;
	background-color: #eef009;
	margin-top: 6px;
}
.list-r3s2{
	display: inline-block;
	width: 80px;
	height: 6px;
	background-color: #fefee6;
	margin-top: 6px;
}
.list-r3s3{
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 71px;
	background-color: #eef009;
}
.list-r4{
	width: 200px;
	height: 40px;
	margin-top: 34px;
	border: 1px solid #eef009;
	border-radius: 10px;
	text-align: center;
}
.list-r4 a{
	text-decoration: none;
	color: #afff72;
	font-size: 26px;
	line-height: 40px;
	padding: 7px 48px;
}
.list-r5{
	font-size: 20px;
	color: #fff;
	margin-top: 18px;
	text-align: center;
}
.list-r5 strong{
	color: #ff6262;
}
/*下面是内容部分-------------------------------*/
.grow-way{
	min-width: 1080px;
	height: 738px;
	background: #fff;
	margin: 0 auto;
	font-size: 0;
}
.grow-way-tit {
	text-align: center;
	margin-top: 80px;
}
.grow-way-tit span{
	font-size: 30px;
	line-height: 30px;
}
.grow-way-tit-color{
	color: #0951b3;
}
.grow-way-tit-small{
	font-size: 14px;
	color: #838383;
	text-align: center;
	line-height: 14px;
	margin-top: 21px;
}
.grow-way-btn{
	width: 100px;
	height: 30px;
	font-size: 14px;
	background-color: #0c57a3;
	line-height: 30px;
	text-align: center;
	border-radius: 13px;
	margin: 30px auto 0;
}
.grow-way-btn a{
	text-decoration: none;
	color: #fff;
	padding: 8px 13px;
}
.grow-list-tit{
	width: 1080px;
	height: 164px;
	margin: 60px auto 0;
	outline: 1px solid #000;
	position: relative;
}
/*tab切换样式*/
.grow-list-tit-normal{
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 1080px;
	height: 164px;
	color: #848484;
}
.grow-list-tit-normal li{
	position: absolute;
	width: 280px;
	height: 116px;
	top: 16px;
}
.grow-normal1{
	background: url(../images/grow-list-tit1.png);
	left: 27px;
}
.grow-normal2{
	background: url(../images/grow-list-tit2.png);
	left: 410px;
}
.grow-normal3{
	background: url(../images/grow-list-tit3.png);
	left: 800px;
}
.grow-normal1 .p1,
.grow-normal2 .p1,
.grow-normal3 .p1{
	font-size: 24px;
	line-height: 26px;
}
.grow-normal1 .p2,
.grow-normal2 .p2,
.grow-normal3 .p2{
	font-size: 14px;
	line-height: 24px;
}
.grow-normal1 .p3,
.grow-normal2 .p3,
.grow-normal3 .p3{
	font-size: 14px;
	line-height: 18px;
	margin-top: 11px;
}
.grow-normal1 .p4,
.grow-normal2 .p4,
.grow-normal3 .p4{
	font-size: 14px;
	line-height: 18px;
}
.grow-normal1 p{
	margin-left: 60px;
}
.grow-normal2 p{
	margin-left: 67px;
}
.grow-normal3 p{
	margin-left: 66px;
}
.grow-list-tit-active{
	position: absolute;
	left: 0;
	top: 0;
	width: 1080px;
	height: 164px;
	list-style: none;
	color: #fff;
}
.grow-list-tit-active li{
	position: absolute;
	width: 301px;
	height: 164px;
	top: 0;
}
.grow-active1{
	background: url(../images/grow-list-tit1b.png);
	left: 0;
}
.grow-active2{
	background: url(../images/grow-list-tit2b.png);
	left: 390px;
}
.grow-active3{
	background: url(../images/grow-list-tit3b.png);
	left: 779px;
}
.grow-list-tit-active .p1{
	margin-left: 42px;
	font-size: 24px;
	line-height: 24px;
	margin-top: 26px;
}
.grow-list-tit-active .p2{
	margin-left: 42px;
	font-size: 14px;
	line-height: 24px;
}
.grow-list-tit-active .p3{
	margin-left: 42px;
	font-size: 14px;
	line-height: 20px;
	margin-top: 27px;
}
.grow-list-tit-active .p4{
	margin-left: 42px;
	font-size: 14px;
	line-height: 20px;
}