ul,li,a,body,p,
input{
	margin: 0;
	padding: 0;
	border: none;
}
html{
	font-size: 625%;
	font-family: "微软雅黑" Helvetica, STHeiTi, Arial, sans-serif;
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%;  
}
/*导航css-----------------------------*/
.banner-box{
	height: 6.3rem;
	font-size: 0;
	background-image: url(../images/index01.jpg);
	background-size: 1920px 630px;
	background-position: center;
	min-width: 1080px;
}
.nav{
	width: 10.80rem;
	height: 1rem;
	margin: 0 auto;
	/*font-size: 0.15rem;*/
	overflow: hidden;
}
.mark{
	display: inline-block;
	width: 1.66rem;
	height: 1rem;
	overflow: hidden;
}
.mark>a{
	display: block;
	width: 100%;
	height: 100%;
}
.mark img{
	width: 6rem;
	margin-top: 0.2rem;
	margin-left: -0.05rem;
}
.nav>ul{
	list-style: none;
	width: 3.9rem;
	margin-left: 3.22rem;
	height: 1rem;
	display: inline-block;
	font-size: 0.15rem;
}
.nav>ul>li{
	float: left;
	margin: 0 0.1rem;
	height: 1rem;
	line-height: 1rem;
}
.nav>ul>li>a{
	color: #e0e0e0;
	text-decoration: none;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
.nav>ul>li>a:hover{
	color: #1b69b6;
}
.search{
	display: inline-block;
	width: 1.26rem;
	height: 0.26rem;
	margin: 0.37rem 0 0.37rem 0.24rem;
	background-color: #4f6571;
	border-radius: 0.1rem;
	overflow: hidden;
}
.search>input{
	width: 0.8rem;
	height: 0.26rem;
	border: none;
	padding: 0 0.1rem;
	text-align: center;
	background: #4f6571;
	outline: none;
	font-size: 16px;
	vertical-align: middle;
}
.search>span{
	display: inline-block;
	width: 0.26rem;
	height: 0.26rem;
	overflow: hidden;
	vertical-align: middle;
}
/*调整nav中的字体图标*/
.search i{
	line-height: 26px;
	color: #fff;
}
.accunt{
	display: inline-block;
	height: 100px;
	width: 52px;
	vertical-align: top;
	text-align: center;
}
.accunt>i{
	font-size: 28px;
	line-height: 100px;
	color: #fff;
}
.accunt>i:hover{
	cursor: pointer;
	font-size: 38px;
}
.search i:hover{
	cursor: pointer;
	font-size: 22px;
}
.trans{
	transition: all 0.5s;
}
/*下面是轮播图-----------------------------*/
/*轮播样式*/
.cont{
	height: 5.3rem;
	width: 10.8rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.pic{
	width: 54rem;
	position: absolute;
	left: -1080px;
	top: 0rem;
}
.pic li{
	display: inline-block;
	width: 10.8rem;
	height: 5.3rem;
}
.circle{
	list-style: none;
	position: absolute;
	top: 460px;
	left: 471px;
	z-index: 2;
}
.circle li{
	display: inline-block;
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	background: #fff;
	margin: 0 20px;
}
.circle li:hover{
	cursor: pointer;
}
.active{
	background: #666 !important;
}
.prev,
.next{
	font-size: 24px;
	color: #fff;
	width: 50px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: rgba(10,18,42,0.2);
	overflow: hidden;
	display: none;
}
.prev{
	float: left;
}
.prev>img{
	width: 160px;
	height: 204px;
	margin-left: -15px;
}
.next{
	float: right;
}
.next>img{
	width: 160px;
	height: 204px;
	margin-left: -95px;
}
.turn{
	position: absolute;
	top: 265px;
	width: 100%;
	height: 100px;
}
.turn>li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
/*第一张轮播框中的内容*/
.pic-square{
	display: inline-block;
	width: 540px;
	height: 530px;
	vertical-align: top;
}
.pic-circle{
	display: inline-block;
	width: 540px;
	height: 530px;
}
.pic-square-cont{
	width: 265px;
	height: 266px;
	background: url(../images/index-turn-01.png);
	margin-top: 104px;
	margin-left: 130px;
}
.pic-square-cont .ch{
	display: inline-block;
	width: 61px;
	height: 68px;
	margin-top: 53px;
	margin-left: 28px;
}
.pic-square-cont .ch>b{
	color: #fff;
	font-size: 60px;
}
.pic-square-cont .chi{
	margin-left: 6px;
	margin-top: 53px;
	height: 26px;
	display: inline-block;
	vertical-align: top;
}
.pic-square-cont .chi .grow{
	font-size: 14px;
	color: #fff;
	line-height: 16px;
	margin-top: 10px;
}
.pic-square-cont .chi .small{
	font-size: 30px;
	color: #fff;
	line-height: 43px;
	margin-left: -4px;
}
.pic-square-cont>.en{
	font-size: 26px;
	line-height: 28px;
	margin-left: 28px;
	color: #fff;
}
.pic-square-cont>span{
	display: inline-block;
	width: 106px;
	height: 36px;
	background-color: #1b67b6;
	text-align: center;
	margin-top: 30px;
	margin-left: 55px;
	border-radius: 3px;
}
.pic-square-cont>span>a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	line-height: 36px;
	padding: 11px 25px;
}
.pic-circle{
	position: relative;
	z-index: 1;
}
.pic-circle div{
	width: 370px;
	height: 238px;
	position: absolute;
	top: 115px;
	left: 114px;
	background-size: 364px 214px;
	background-position: center center;
}
.pic-circle-z-index0{
	background: url(../images/index-turn-circle01.png) no-repeat;

}
.pic-circle-z-index1{
	background: url(../images/index-turn-circle02.png) no-repeat;
}
.pic-circle-z-index2{
	background: url(../images/index-turn-circle03.png) no-repeat;
}
@keyframes turn-r {
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(-360deg);
	}
}
@keyframes turn-l {
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}
.turn-r{
	animation: turn-r 1s;
}
.turn-l{
	animation: turn-l 1s;
}
/*下面是第二张轮播框中的内容*/
.pic-turn02{
	background: url(../images/index-turn-02.png);
	background-size: 1080px 530px;
}