body{
	margin: 0;
	padding: 0;
}
.nav{
	width: 100%;
	min-width: 1400px;
	height: 82px;
	background-color:#393d49;
}
.nav>a{
	float: left;
	text-decoration: none;
	color: #fff;
}
.mark{
	width: 102px;
	height: 82px;
	background: url(../../images/mark.png);
	margin-left: 100px;
}
.index,.page1,.page2,.logn{
	width: 200px;
	height: 82px;
	font-size: 36px;
	text-align: center;
	line-height: 82px;
}
.index{
	margin-left: 300px;
}
.page1,.page2,.logn{
	margin-left: 30px;
}
.index:hover,
.page1:hover,
.page2:hover,
.logn:hover{
	background-color: #666;
}
.nav a{
	text-decoration: none;
	color: #fff;
}
.cont p{
	text-indent: 2em;
	line-height: 40px;
}
/*登陆框*/
.box{
	width: 460px;
	height: 431px;
	border: 1px solid #333;
	/*background-color: orange;*/
	position: fixed;
	top: 100px;
	left: 470px;
	background:url(../../images/back.png);
	margin: 60px auto 0;
	display: none;
}
.close{
	background-color: #171616;
	color: #fff;
	position: absolute;
	left: 420px;
	top: 10px;
}
.close:hover{
	cursor: pointer;
}
.name{
	margin-top: 104px;
}
.name span,
.pass span,
.sex span,
.hobby span,
.area span{
	line-height: 38px;
}
.name input,
.pass input{
	height: 38px;
	border: 1px solid #999;
	border-radius: 2px;
	width: 222px;
	line-height: 38px;
	padding-left: 10px;
}
.box div{
	margin-left: 82px;
}
.pass,.sex,.hobby,.area{
	margin-top: 10px;
}
.btn{
	width: 96px;
	height: 40px;
	margin-left: 112px;
	margin-top: 40px;
	background-color: #1f99e4;
	border: none;
	border-radius: 2px;
	font-size: 16px;
	color: #fff;
}
.btn-close{
	width: 96px;
	height: 40px;
	background-color: #5bae19;
	border: none;
	border-radius: 2px;
	margin-left: 34px;
	font-size: 16px;
	color: #fff;
}
.area select:hover,
.sex input:hover,
.hobby input:hover,
button:hover{
	cursor: pointer;
}
/*修改登陸框*/
.diqu{
	display: inline-block;
	width: 222px;
	height: 26px;
	border: 1px solid #999;
	line-height: 26px !important;
	text-align: center;
	vertical-align: middle;
}
.diqu:hover{
	cursor: pointer;
}
.area{
	position: relative;
}
.diquC{
	width: 222px;
	border: 1px solid #999;
	position: absolute;
	left: 72px;
	top: 35px;
	display: none;
	background-color: #fff;
}
.diquC li{
	text-align: center;
	line-height: 20px;
}
.diquC li:hover{
	cursor: pointer;
	background-color: #1f99e4;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
