<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <title>表单输入</title>
</head>
<body>
    <div class="app1">
        <input type="checkbox" id="app1" v-model="checked">
        <label for="app1">{{checked}}</label>
    </div>

    <div class="app2">
        <input type="checkbox" name="fruit" id="apple" value="苹果" v-model="checked">
        <label for="apple">苹果</label>
        <input type="checkbox" name="fruit" id="orange" value="橘子" v-model="checked">
        <label for="orange">橘子</label>
        <input type="checkbox" name="fruit" id="banana" value="香蕉" v-model="checked">
        <label for="banana">香蕉</label>
        <p>已选中的：{{checked}}</p>
    </div>

    <div class="app3">
        <input type="radio" id="apple1" value="苹果" v-model="fruit">
        <label for="apple1">苹果</label>
        <input type="radio" id="orange1" value="橘子" v-model="fruit">
        <label for="orange1">橘子</label>
        <p>选择的是：{{fruit}}</p>
    </div>

    <!-- 下拉框 -->
    <div class="app4">
        <select name="" id="" v-model="selected">
            <option>苹果</option>
            <option>橘子</option>
            <option>香蕉</option>
        </select>
        <p>选择的是：{{selected}}</p>
    </div>

    <!-- 下拉框 -->
    <div class="app5">
        <select name="" id="" v-model="selected">
            <option>苹果</option>
            <option>橘子</option>
            <option>香蕉</option>
        </select>
        <p>选择的是：{{selected}}</p>
    </div>

<script>
    var app1 = new Vue({
        el: '.app1',
        data: {
            checked: false
        }
    });
    var app2 = new Vue({
        el: '.app2',
        data: {
            checked:[]
        }
    });
    var app3 = new Vue({
        el: '.app3',
        data: {
            fruit: ''
        }
    });
    var app4 = new Vue({
        el: '.app4',
        data: {
            selected: ''
        }
    });
    var app5 = new Vue({
        el: '.app5',
        data: {
            selected: []
        }
    })
</script>
</body>
</html>